.h7 {
    font-size: 0.8rem;

}
.hero{
	height: 100vh;
	width: 100%;
	background-image:  url(https://static.vecteezy.com/system/resources/previews/001/884/589/large_2x/abstract-dark-blue-color-background-with-scratched-modern-background-concrete-with-rough-texture-chalkboard-concrete-art-rough-stylized-texture-free-photo.jpg);
	background-size: cover;
	background-position: center;
}
nav{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 45px;
	padding-left: 8%;
	padding-right: 8%;
}
.logo{
	color: white;
	font-size: 35px;
	letter-spacing: 1px;
	cursor: pointer;
}

span{
	color: #ff7200;
}
nav ul li{
	list-style-type: none;
	display: inline-block;
	padding: 10px  25px;
}
nav ul li a{
	color: white;
	text-decoration: none;
	font-weight: bold;
	text-transform: capitalize;
}
nav ul li a:hover{
	color: #ff7200;
	transition: .4s;
}
.btn{
	background-color:#ff7200;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 10px 25px;
	border-radius: 30px;
	transition: transform .4s; 
}
.btn:hover{
	transform: scale(1.2);
.gedf-wrapper {
    margin-top: 0.97rem;
}

.badge-primary {
    border-radius: 15px;
    background-color:   #4f94cd;
    padding: 5px 8px 5px 8px;
}

.card {
    border-radius: .65rem;
    border: none;
}

.btn-outline-primary {
    color: gray;
    /*background-color: transparent;
    background-image: none;*/
    border-color: white;
}

.card-header {
    border: none;
    background-color: white;
}

.card-footer {
    border: none;
    background-color: white;
}

#popular {
    color:  #4f94cd;
}

.card-body .d-flex h6 {
    font-size: 13px;
}

textarea.form-control {
    border: none;
    background-color: #e5e5e5;
}

#postcard {
    background-color: #e5e5e5;
    border-radius: .65rem;
}

.card-text, .card-footer a {
    font-size: 14px;
    color: gray;
}

.fa {
    color: gray;
}

#suggested {
    padding-right: 28px;
}

.list-group-item {
    border: none;
}

.jumbotron {

	 width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(https://static.vecteezy.com/system/resources/previews/001/884/589/large_2x/abstract-dark-blue-color-background-with-scratched-modern-background-concrete-with-rough-texture-chalkboard-concrete-art-rough-stylized-texture-free-photo.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.container {
    background-color: #eeeeee;
    border-radius: .65rem;
}

#profile {
    margin: -16px 0px 0px -5px;
}

#search {
    border: none;
}

.btn-group>.btn:first-child {
    margin-left: 290px;
    padding: 8px 30px 8px 30px;
    background-color:   #4f94cd;
    border: none;
}

@media (min-width: 992px) {
    .gedf-main {
        padding-left: .5rem;
        padding-right: .5rem;
    }
}

/**Reset Bootstrap*/
.dropdown-toggle::after {
    content: none;
}

